apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: github-tests-java-springboot-vxljsxyl
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/github-tests-java-springboot-vxljsxyl:e1835068139d57bcbb30d73c4993b8a66c28aa39@sha256:db0bb3fe57b46f836367f5bec67c2b4fd06ec7ad26d33a6408dbcd3217a763f2
          name: container-image
